{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des entreprises</h1>

        <table class="table table-striped table-sm table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>CodePostal</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entreprise in entreprises %}
                <tr>
                    <td>{{ entreprise.id }}</td>
                    <td>{{ entreprise.nom }}</td>
                    <td>{{ entreprise.adresse }}</td>
                    <td>{{ entreprise.ville }}</td>
                    <td>{{ entreprise.codePostal }}</td>
                    <td>{{ entreprise.email }}</td>
                    <td>{{ entreprise.telephone }}</td>
                    <td>
                        <a href="{{ path('entreprise_show', {'id': entreprise.id}) }}">show</a>
                        <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('entreprise_new') }}" class="btn btn-primary">Créer une entreprise</a>
    </div>
{% endblock %}
