{% extends 'base.html.twig' %}

{% block title %}Liste des contrats{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des contrats</h1>

        <table class="table table-striped table-sm table-bordered">
            <thead>
                <tr>
                    <th>DateDebut</th>
                    <th>DateFin</th>
                    <th>DateSignature</th>
                    <th>Prix</th>
                    <th>Particulier</th>
                    <th>Entreprise</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for contrat in contrats %}
                <tr>
                    <td>{{ contrat.dateDebut ? contrat.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ contrat.dateFin ? contrat.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ contrat.dateSignature ? contrat.dateSignature|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ contrat.particulier ? contrat.particulier.prenom ~ ' ' ~ contrat.particulier.nom ~ ' (' ~ contrat.particulier.entreprise ~ ')' }}</td>
                    <td>{{ contrat.entreprise ? contrat.entreprise : '' }}</td>
                    <td>{{ contrat.prix }} FrCFA</td>
                    <td>
                        <a href="{{ path('contrat_show', {'id': contrat.id}) }}">show</a>
                        <a href="{{ path('contrat_edit', {'id': contrat.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('contrat_new') }}"class="btn btn-primary">Créer un contrat</a>
    </div>
{% endblock %}
