{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <div class="container">
        <h1>Entreprise</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ contrat.id }}</td>
                </tr>
                <tr>
                    <th>DateDebut</th>
                    <td>{{ contrat.dateDebut ? contrat.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateFin</th>
                    <td>{{ contrat.dateFin ? contrat.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateSignature</th>
                    <td>{{ contrat.dateSignature ? contrat.dateSignature|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Particulier</th>
                    <td>{{ contrat.particulier ? contrat.particulier.prenom ~ ' ' ~ contrat.particulier.nom ~ ' (' ~ contrat.particulier.entreprise ~ ')' }}</td>
                </tr>
                <tr>
                    <th>Entreprise</th>
                    <td>{{ contrat.entreprise ? contrat.entreprise : '' }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ contrat.prix }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('contrat_index') }}">back to list</a>

        <a href="{{ path('contrat_edit', {'id': contrat.id}) }}">edit</a>

        {{ include('contrat/_delete_form.html.twig') }}
    </div>
{% endblock %}
